/*  
main text colour and selction colour = (#000000)
secondary text and reading background colour = (#FFFFFF)
background color = (#800020)
accent and interactive feature colour: (#702963)
main colour = (#D2042D) */

body {
    background-color: #800020;
}

header {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 12px;
}

main {
    background-color: #FFFFFF;
}

aside {
    background-color: #FFFFFF;
    border-radius: 10px;
}

footer {
    background-color: #D2042D;
    border-radius: 10px;
}

nav li {
    border: 2px;
    border-style: solid; 
    color: #702963;
    background-color: #D2042D;
    list-style-type: none;

}

nav li a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: #000000;
}

.active {
    background-color: #702963;
}

table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
}

table td, table th{
    border: 2px;
    border-style: solid;
    border-color: #F0F0F0;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table tr:hover {
    background-color: #800020;
}

table th {
    background-color: #D2042D;
    color: white;
}
